<div *ngIf="isLoading$ | async">Loading...</div>
<mc-error-message *ngIf="error$ | async">Something went wrong...</mc-error-message>

<div *ngIf="(feed$ | async) as feed">
  <div class="article-preview" *ngFor="let article of feed.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]"><img [src]="article.author.image"></a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">{{article.author.username}}</a>
        <span class="date">{{article.createdAt }}</span>
      </div>
      <!--    TODO: FAVORITES-->
      <div class="pull-xs-right">ADD TO FAVORITE</div>
    </div>
    <div class="article-content">
      <p class="article-content__header" [routerLink]="['/article', article.slug]">{{article.title}}</p>
      <p class="article-content__paragraph" [routerLink]="['/article', article.slug]">{{article.description}}</p>
    </div>
    <mc-tag-list [tags]="article.tagList"></mc-tag-list>
  </div>

  <mc-pagination [total]="feed.articlesCount"
                 [limit]="limit"
                 [baseUrl]="baseUrl"
                 [currentPage]="currentPage"></mc-pagination>
</div>
